* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.App{
    width: 800px;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
  }

  .pages__wrapper{
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
  }

  .page, .page__current{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
  }
  .page:hover, .page__current{
    background-color: teal;
    color: white;
  }


  .navbar{
    height: 50px;
    display: flex;
    width: 100vw;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
  }

  .navbar__links{
    margin-left: auto;
  }